.navbar {
  display: flex;
  justify-content: space-between;
  /* pushes logo to the left and links to the right */
  align-items: center;
  background-color: olive;
  color: black;
  padding: 15px 30px;
}

.nav-links {
  background-color: olive;
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  background-color: olive;
  color: black;
  text-decoration: none;
  transition: all 0.5s ease 0s;
}

.nav-links li:hover {
  color: beige;
}

.logo {
  background-color: olive;
  font-weight: 800;
  font-size: 20px;
  color: beige;
}



.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 80px 220px;
  position: relative;
}



.about-container .intro-text,
.about-container .intro-image {
  opacity: 0;
  pointer-events: none;
  transform: translateX(0);
  transition: opacity 2s cubic-bezier(0.77,0,0.175,1), transform 2s cubic-bezier(0.77,0,0.175,1);
}

.about-container .show-info.intro-text {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(-5%);
}
.about-container .show-info.intro-image {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(5%);
}


.intro-text {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  background-color: olive;
  color: beige;
  padding: 30px;
  border-radius: 20px;
  margin-right: 40px;
  padding-bottom: 50px;
  position: relative;
  z-index: 1;
}

.intro-image {
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.intro-text h1 {
  margin-bottom: 20px;
  text-align: left;
  background-color: olive;
  opacity: 1;
  pointer-events: auto;
  transform: translateX(5%);
}

.intro-text p {
  margin-top: 0;
  background-color: olive;
  text-align: left;
}


.headshot {
  width: 200px;
  border-radius: 20px;
  background-color: olive;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}