.navbar {
    display: flex;
    justify-content: space-between; /* pushes logo to the left and links to the right */
    align-items: center; 
    background-color: olive;
    color: black;
    padding: 15px 30px;
}

.nav-links {
    background-color: olive;
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    background-color: olive;
    color: black;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}

.nav-links li:hover {
    color: beige;
}

.logo {
    background-color: olive;
    font-weight: 800;
    font-size: 20px;
    color:beige;
}


.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: olive;
    color: beige;
    padding: 15px 30px;
    margin: 100px;
    border-radius: 20px;
    flex: 1; 
}

img {
    display: flex;
    gap: 16px;
    align-items: center;
    background-color: olive;
}

img {
    
    width: 270px;
    flex: 0 0 160px;
    background-color: olive;
    border-radius: 20px;
}


.intro p {
    box-sizing: calc(20, 20);
    background-color: olive;
}


.intro h1 {
    max-width: 300px;
    margin: 40px auto; /* 50px vertical spacing, auto horizontally centers */
    padding: 10px;
    box-sizing: border-box; /* include padding inside the max-width */
    text-align: center;
    background-color: olive;
}